@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", serif;
}
:root {
	--ion-color-primary: #1A9FD8;
	--ion-color-primary-rgb: 26,159,216;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #178cbe;
	--ion-color-primary-tint: #31a9dc;
}